@use '../../../globals.scss';

$bg-color: #fff;
.root {
  background-color: $bg-color;
  border-radius: 4px;
  height: 100%;
  // min-width: 600px;
}
.Toolbar {
  padding: 0.5rem 0.5rem globals.$rich-editor-toobar__height;
}

.AddBlock {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
}
