@use '../../../globals.scss';

$bg-color: #fff;
// $rich-editor-toobar-height: 42px;
.root {
  background-color: $bg-color;
  border: 2px dashed darke($bg-color, 10%);
  border-radius: 4px;
  height: 100%;
  min-width: 600px;

  transition: box-shadow 0.3s ease-in-out;
}
.Toolbar {
  padding: 0.5rem 0.5rem globals.$rich-editor-toobar-height;
}
