$bg-color: rgb(255, 172, 172);
.root {
  align-items: center;
  background: transparent;
  background-image: url('./trash_icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: flex-start;
  width: 100%;

  transition: all 0.3s ease-in-out;
}
