$bg-color: rgb(225, 242, 250);
.root {
  align-items: center;
  background-color: $bg-color;
  background-image: url('./notes_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  border: 2px dashed darken($bg-color, 10%);
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
  height: 60%;
  justify-content: flex-start;
  overflow: hidden auto;
  width: 100%;

  & > div {
    margin: 10px;
    width: 80%;
  }
}

.title {
  text-align: center;
}
