.root {
  background-color: rgb(180, 231, 255);
  height: 60%;

  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;

  & > div {
    margin: 10px;
    width: 80%;
  }
}

.title {
  text-align: center;
}
