.root {
  align-items: center;
  background: rgb(216, 216, 216);
  display: flex;
  font-size: 3rem;
  height: 150px;
  justify-content: center;
}

.title {
  margin: 0.5rem;
  font-family: monospace;
}
