$sidebar-width: 300px;
.root {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}
.main {
  box-sizing: border-box;
  display: flex;
  height: calc(100% - 200px);
  justify-content: space-between;
  padding: 15px;
  width: 100%;

  & > div {
    background-color: rgb(220, 248, 165);
  }
}
.sidebar {
  border-left: 2px solid rgb(100, 100, 100);
  display: flex;
  flex-flow: column nowrap;
  width: $sidebar-width;
}
