$sidebar-width: 200px;
.root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
.main {
  box-sizing: border-box;
  display: flex;
  height: calc(100% - 200px);
  justify-content: space-between;
  padding: 15px;
  width: 100%;
}
.sidebar {
  border-left: 2px solid rgb(100, 100, 100);
  width: $sidebar-width;
}
